@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1A120D;
  color: white;
}

button {
  background-color: #18181B;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: #262626;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  padding: 0.1rem;
}

button:hover {
  background-color: #52525B;
}

input {
  background-color: #18181B;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: #262626;
  padding: 0.1rem;
}